@import 'bootstrap/dist/css/bootstrap.min.css';
@import '~bootstrap/scss/bootstrap.scss';
@import "node_modules/bootstrap/scss/bootstrap";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


.money {
    font-size: 20px;
    letter-spacing: 1px;
    margin: 5px 0;
  }

.money.plus {
    color: #2ecc71;
  }
  
.money.minus {
    color: #c0392b;
  }