@import '~bootstrap/scss/bootstrap.scss';
@import "node_modules/bootstrap/scss/bootstrap";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100vw;
  }

  // .btn {
  //   color: $black;
  //   background-color: $yellow-300;
  // }