{
    "env": {
      "browser": true,
      "es6": true,
      "node": true
    },
    "root": true,
    "extends": [
      "eslint:recommended",
      "plugin:react/recommended",
      "plugin:jest/recommended",
      "airbnb",
      "prettier"
    ],
    "plugins": ["react", "testing-library", "jest"],
    "rules": {
      "linebreak-style": 0,
      "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
      "no-restricted-syntax": [
        "error",
        "ForInStatement",
        "LabeledStatement",
        "WithStatement"
      ],
      "arrow-body-style": "off",
      "react/react-in-jsx-scope": "off",
      "jest/no-disabled-tests": "warn",
      "jest/no-focused-tests": "error",
      "jest/no-identical-title": "error",
      "jest/prefer-to-have-length": "warn",
      "jest/valid-expect": "error",
      "no-underscore-dangle": "off"
    },
  
    "parserOptions": {
      "ecmaFeatures": {
        "jsx": true
      },
      "ecmaVersion": 12,
      "sourceType": "module"
    },
    "settings": {
      "jest": {
        "version": "latest"
      }
    }
  }